#!/bin/sh

nitrogen --restore &

picom --config ~/.config/i3/picom.conf &

dunst &

/usr/libexec/polkit-gnome-authentication-agent-1 &

udiskie &

blueman-tray &

nm-applet &

flameshot &

numlockx on &

volumeicon &

# xset s off &

# xset -dpms &

xscreensaver --no-splash  &

dwmblocks &

export _JAVA_AWT_WM_NONREPARENTING=1

export QT_QPA_PLATFORMTHEME=qt5ct

#while true; do
#   xsetroot -name "$( date +" %h %d, %Y %I:%M %p" )"
#   sleep 1m    # Update time every minute
#done &

#while true; do
dwm >/dev/null 2>&1
#done
